---
import * as Lucide from 'lucide-astro'
---

<section id="get-started" class="bg-black 2xl:py-24 2xl:bg-gray-950">
    <div class="px-4 mx-auto bg-gray-900 max-w-[1344px] sm:px-6 lg:px-8 2xl:rounded-xl border border-gray-800">
        <div class="py-10 sm:py-16 lg:py-24 2xl:pl-24">
            <div class="grid items-center grid-cols-1 gap-y-8 lg:grid-cols-2 lg:gap-x-8 2xl:gap-x-20">
                <div class="lg:order-2 2xl:-mr-24">
                    <img class="w-full shadow-xl rounded-xl" src="https://cdn.rareblocks.xyz/collection/celebration/images/features/6/dashboard-screenshot.png" alt="Screenshot-1" />
                </div>

                <div class="lg:order-1">
                    <h2 class="text-3xl font-bold leading-tight text-white sm:text-4xl lg:text-5xl lg:leading-tight">
                      Let's Get Started
                    </h2>

                    <ul class="grid grid-cols-1 mt-4 sm:mt-10 sm:grid-cols-2 gap-x-10 xl:gap-x-16 gap-y-4 xl:gap-y-6">
                        <li class="flex items-center">
                            <Lucide.CircleCheckBig class="flex-shrink-0 size-5 text-green-500" stroke-width="1.8" />
                            <span class="ml-3 font-medium text-white">Basic Authentication</span>
                        </li>

                        <li class="flex items-center">
                            <Lucide.CircleCheckBig class="flex-shrink-0 size-5 text-green-500" stroke-width="1.8" />
                            <span class="ml-3 font-medium text-white">Two-factor (2FA)</span>
                        </li>

                        <li class="flex items-center">
                            <Lucide.CircleCheckBig class="flex-shrink-0 size-5 text-green-500" stroke-width="1.8" />
                            <span class="ml-3 font-medium text-white">Dynamic content types</span>
                        </li>

                        <li class="flex items-center">
                            <Lucide.CircleCheckBig class="flex-shrink-0 size-5 text-green-500" stroke-width="1.8" />
                            <span class="ml-3 font-medium text-white">Rich text editor</span>
                        </li>

                        <li class="flex items-center">
                            <Lucide.CircleCheckBig class="flex-shrink-0 size-5 text-green-500" stroke-width="1.8" />
                            <span class="ml-3 font-medium text-white">Flexible Modeling</span>
                        </li>

                        <li class="flex items-center">
                            <Lucide.CircleCheckBig class="flex-shrink-0 size-5 text-green-500" stroke-width="1.8" />
                            <span class="ml-3 font-medium text-white">Media library</span>
                        </li>
                    </ul>

                    <div class="flex flex-col items-start mt-8 sm:space-x-4 sm:flex-row sm:items-center lg:mt-12">
                        <a href="#" class="inline-flex items-center justify-center px-6 py-3 text-base font-semibold text-white transition-all duration-200 bg-blue-600 border border-transparent rounded-md hover:bg-blue-700 focus:bg-blue-700" role="button">
                            <Lucide.Download class="size-5 mr-2 -ml-1" stroke-width="1.8"/>
                            <span>Download Now</span>
                        </a>
                        <a href="/docs" title="Documentation" class="inline-flex items-center justify-center px-6 py-3 mt-5 text-base font-semibold text-white transition-all duration-200 bg-transparent border border-white rounded-md sm:mt-0 hover:bg-white hover:text-black" role="button">
                          Read the Docs
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
